@import url('https://www.shutterstock.com/image-vector/modern-hightech-background-presentations-websites-600nw-2181983721.jpg');


      * {
        padding: 0;
        margin: 0;
      }

      body {
        margin: 0;
        background-image: url('https://www.shutterstock.com/image-vector/modern-hightech-background-presentations-websites-600nw-2181983721.jpg');
        background-size: cover; /* Ajusta la imagen al tamaño de la ventana del navegador */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat;
        background-attachment: fixed; 
      }

      html {
        height: 100%;
      }

      .header {
        grid-area: header;
      }

      .navbar {
        grid-area: navbar;
        font-family: 'Caveat', 'Edu TAS Beginner', cursive;
    }

      .main {
        grid-area: main;
        padding: 5%;
      }
      .footer {
        grid-area: footer;
        margin-left: 20px;
      }

      /*REPONSIVO*/
      /*Teléfono*/
      .grid-container {
        display: grid;
        gap: 10px;
        grid-template-areas:
          "header"
          /*"navbar"*/
          "main"
          "article"
          "footer";
      }
      /*Tablet*/
      @media (min-width: 768px) {
        .grid-container {
          grid-template-columns: 300px auto;
          grid-template-rows: auto 1fr auto;
          grid-template-areas:
            "header header"
            /*"navbar navbar"*/
            "main main"
            "footer footer";
        }
      }
      /*Escritorio*/
      @media (min-width: 900px) {
        .grid-container {
          grid-template-columns: 300px auto;
          grid-template-rows: auto 1fr auto;
          grid-template-areas:
            "header header header"
            /*"navbar navbar navbar"*/
            "main main main"
            "footer footer footer";
        }
      }
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#navLinks{
    color: #56cfe1 ;
    font-size: 20px;
}

.links {
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;

}
.links a:hover{
    /* background-color: #C58657; */
    /* border-radius: 18px; */
    /* color: white; */
    /* min-width: none; */
    transform: translatey(-20px);
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
}
.links li{
    padding: 0 5px 0;
}

#miLogo{
    display: flex;
    height: 75px;
    /* align-items: center;
    justify-content: center; */
    /* margin-right: 350px; */
    cursor: pointer;
    transition: 0.3s;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
/* +++++++++++ NAVBAR +++++++++++ */


/* ------------INICIO--------------- */
#bienvenida{
    font-size: xxx-large;
    font-family: cursive;
    color: #ffd6ff;    
}

#miNombre{
    font-size: 45px;
    text-align: center;
    color: #f7d1cd;
    font-family: cursive;
}

.descripcion{
    /* display: flex; */
    text-align: justify;
    font-family: cursive;
    color: #f7d1cd;
}

#miFoto{
    display: flex;
    border-radius: 15%;
    max-width: 450px;
    max-height: 450px;
    padding: 0 20px;
    /* justify-content: center;
    align-items: center; */
}

#btnCV{
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    color: #000;
    border: none;
    box-shadow: 2px -2px 30px 6px rgba(148,187,233,1);
    border-radius: 25px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
  }

#github{
    transition: 0.3s;
    margin: 0 10px;
}
#github:hover{
    transform: scale(1.3);
}
#linkedin{
    transition: 0.3s;
    margin: 0 10px;
}
#linkedin:hover{
    transform: scale(1.3);
}
#correo{
    transition: 0.3s;
    margin: 0 10px;
}
#correo:hover{
    transform: scale(1.3);
}
#whatsapp{
    transition: 0.3s;
    margin: 0 10px;
}
#whatsapp:hover{
    transform: scale(1.3);
}

/* +++++++++++++++++++INICIO+++++++++++++++ */


/* +++++++++++++++++++EDUCACIÓN / EXPERIENCIA +++++++++++++++ */
/* ----------------- Educación -----------------*/
#titleEdu{
    display: flex;
    color: #f2b5d4;
    font-family: cursive;
    margin: 10px 15px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

/* Todas las cards */
.card{
    border-radius: 46px 46px 46px 46px;
    border: 6px solid #9381ff;
    box-shadow:  0px 3px 35px 0px #9381ff;
    background: none; /*#8e9aaf*/
    /* opacity: .7; */
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.card:hover{
    /* 10px 10px 88px -22px rgba(139,140,137,1); */
    box-shadow: 10px 10px 91px -18px #212529;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

/* Todas las cards */

.bootcamp{
    text-align: center;
    color: #fff;
    font-family: cursive;
}
.textBootcamp{
    text-align: justify;
    color: #fff;
    font-family: cursive;
}
#generation{
    width: 150px;
    height: 150px;
}

#cbt{
    width: 150px;
    height: 150px;
}
#cbtdescrip{
    text-align: center;
    color: #fff;
    font-family: cursive;
}
.textCbt{
    text-align: justify;
    color: #fff;
    font-family: cursive;
}
/* español */
#esp{
    width: 80px;
    height: 75px;
    margin-top: 25px;
}

.esp{
    display: flex;
    font-family: cursive;
    justify-content: center;
    font-size: 27px;
    color: #fff;
    font-family: cursive;
}
.card-text-nativo{
    display: flex;
    font-family: cursive;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}

/* ingles */
#ing{
    width: 120px;
    height: 65px;
    margin-top: 33px;
}
.card-title-ing{
    display: flex;
    font-family: cursive;
    justify-content: center;
    font-size: large;
    font-size: 27px;
    color: #fff;
}
.card-text-nivel{
    display: flex;
    font-family: cursive;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}

/* -----------------exp. laboral----------------- */
.exp-labo{
    display: flex;
    color: #f2b5d4;
    font-family: cursive;
    margin: 10px 15px;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}
.babyD{
    text-align: right;
    color: #fff;
    font-family: cursive;
}
#baby{
    width: 200px;
    height: 150px;
}
.list-group-desc{
    text-align: justify;
    padding-right: 40px;
    color: #fff;
    margin: 20px;
    font-family: cursive;
}
.card-expe-baby{
    color: #fff;
    margin: 20px;
    font-family: cursive;
}

.card-expe{ /*Sertec y Ar*/
    color: #fff;
    margin: 20px;
    font-family: cursive;
}
.Ar{
    text-align: right;
    color: #fff;
    margin: 20px;
    font-family: cursive;
}
#arimg{
    padding-left: 20px;
    width: 200px;
    height: 150px;
}

.sertec{
    font-family: cursive;
    text-align: right;
    color: #fff;
    margin: 20px;
}

#sertecimg{
    width: 200px;
    height: 150px;
}
/* +++++++++++++++++++EDUCACIÓN / EXPERIENCIA +++++++++++++++ */


/* +++++++++++++++++ Hard Skills +++++++++++++++++ */
.titles{
    font-family: cursive;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
.titulo-hard-soft{ /*para soft,hard y proyectos*/
    font-size: xxx-large;
    color: #ffee93;
}

.cards-hard-skills{
    width: 6rem;
    height: 6rem;
}

#html{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#html:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#css{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#css:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#js{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
#js:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#java{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#java:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#boots{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#boots:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#office{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#office:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#figma{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#figma:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#git{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#git:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#github{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#github:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#scrum{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#scrum:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#trello{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#trello:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#vsc{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
#vsc:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#eclipse{
    margin-bottom:18px;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
#eclipse:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#postman{
    margin-bottom: 10px;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
#postman:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
#mysql{
    width: 6rem;
    height: 6.5rem;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
#mysql:hover{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
}
/* #canva{
    width: 12rem;
    height: 8rem;
    margin-bottom: 10px;
} */
.col{/*Es para que se centren las imgs*/
    display: flex;
    justify-content: center;
}
.descrip-softs{ /*para soft y hard*/
    text-align: justify;
    color: #fff;
    font-family: cursive;
}

.leng-prog{
    color: #f2b5d4;
}

.title-imghard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* +++++++++++++++ SOFT SKILLS ++++++++++++++ */

.descrip-softs{
    text-align: justify;
    font-size: 20px;
}
.pricipal-soft{
    color: #fff;
    text-align: center;
    font-family: cursive;
}

.list-group-item{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: cursive;
}
/* +++++++++++++++ SOFT SKILLS ++++++++++++++ */

/* +++++++++++++++ PROYECTOS ++++++++++++++ */
#btnVer{
    font-family: cursive;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    color: #000;
    border: none;
    box-shadow: 2px -2px 30px 6px rgba(148,187,233,1);
    border-radius: 25px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}

#imgCentro{
    margin: 10px;
    width: 350px;
    height: 180px;
    border-radius: 46px 46px;
}
#imgPI{
    margin: 10px;
    width: 350px;
    height: 180px;
    border-radius: 46px 46px;
}
#imgPort{
    margin: 10px;
    width: 350px;
    height: 180px;
    border-radius: 46px 46px;
}
.titleProyec{
    color: #fff;
    font-family: cursive;
}


/*FOOTER contactame */
.card-text-ctc{
    display: flex;
    text-align: center;
    font-family: cursive;
    font-size: xxx-large;
    color: #b8e0d2;
}
#btnCtc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    min-width: 50px;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
    color: #000;
    border: none;
    box-shadow: 2px -2px 30px 6px rgba(148,187,233,1);
    border-radius: 25px;
    animation-name: slide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}

.pie-pag p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.card-body-redes{
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    cursor: pointer;
    flex-direction: unset;
}

.card-body-redes2{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    cursor: pointer;
    flex-direction: unset;

}

#github3{
    display: flex;
    width: 4rem;
    height: 4rem;
    transition: 0.3s;
}

#github3:hover{
    transform: scale(1.3);
}
#linkedin2{
    display: flex;
    width: 4rem;
    height: 4rem;
    transition: 0.3s;
}

#linkedin2:hover{
    transform: scale(1.3);
}

#correo2{
    display: flex;
    width: 4rem;
    height: 4rem;
    transition: 0.3s;
}

#correo2:hover{
    transform: scale(1.3);
}

#whatsapp2{
    display: flex;
    width: 4rem;
    height: 4rem;
    transition: 0.3s;
}

#whatsapp2:hover{
    transform: scale(1.3);
}